:root {
    --header-height: 120px;
    --background-blur: 50px;

    /* Screen size for media queries. CAUTION: Used here for reference only. Edit at the correct spot as well.*/
    --screen-laptop-max-width: 1024px;
    --screen-phone-max-width: 768px;
}

body {
    margin: 0;
    overflow: hidden auto;

    background: #101010;
    color: #ffffff;

    font-family: "Lexend";
}

*::selection {
    color: black;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;

    width: calc(100% - 2 * 80px);
    height: var(--header-height) auto;

    margin: auto;
    margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;

    background: linear-gradient(#00000000, #000000b0);
    border-bottom: 1px solid #5c5c5c;

    cursor: default;
}

header>.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    width: max-content;
}

header>.card>img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

header>.card>span {
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
}

header>.navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: end;
}

header>.navigation>.header_redirect {
    width: 100%;

    padding: 5px 10px;
    box-sizing: border-box;

    background: linear-gradient(#00000000, #80808080);
    color: #ffffff;

    font-size: 24px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;

    cursor: pointer;

    transition-duration: 300ms;
}

header>.navigation>.header_redirect:hover {
    background: #80808080
}

header>.navigation>.header_redirect.active {
    background: linear-gradient(#ffffff);
    color: #000000;
}

footer {
    height: 0px;
}

canvas {
    display: block;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    filter: blur(var(--background-blur));
}

section {
    height: 0;

    overflow: hidden;

    background: #00000080;

    transition-duration: 300ms;
}


section.active {
    display: block;

    height: max-content;
}

/* Laptop CSS tweaks */
@media (max-width: 1024px) {

    /* var(--screen-laptop-max-width) */
    header {
        width: 100%;
    }

    header>.navigation {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    header>.navigation>.header_redirect {
        background: linear-gradient(0.25turn, #00000000, #80808080);
    }
}

/* Phone CSS tweaks */
@media (max-width: 768px) {

    /* var(--screen-phone-max-width) */
    header>.navigation {
        width: 100%;
    }

    header>.navigation>.header_redirect {
        background: linear-gradient(-0.25turn, #00000000, #80808080);
    }
}